
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

#content, #contentTrash, #contentArchiv {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btnDiv button {
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}